{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compartilhamento de Tela</title>
    <script type="text/javascript" src="{% static 'js/main_gpt.js' %}"></script>
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <button id="start-screen-share">Iniciar Compartilhamento de Tela</button>
        <div style="margin-top: 20px;">
            <video id="screen-share-video" autoplay muted style="border: 1px solid black; width: 80%; height: auto;"></video>
        </div>
    </div>
    
</body>
</html>
